<div class="span4">
	<div class="well">
		<h2>Artist Matches</h2>
			<div class="btn-group">
			  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
			    Action
			    <span class="caret"></span>
			  </a>
			  <ul class="dropdown-menu">
			    <!-- dropdown menu links -->
			  </ul>
			</div>
	</div>
</div>