/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
	padding-top: 50px;
}
.well{
	margin-top: 10px;
}
.span6#concierto {
	margin-top: 10px;
	margin-left: 30px;
}
#file {
   display: none;
}
   
.dummyfile input[type="text"] {
   width: 145px;
   display: inline;
}
#show_pic{
	margin-right: 10px;
	margin-left: 20px;
	margin-top: 5px;
}
#info{
	padding-left: 20px;
}
#pic_small{
	margin-top: 10px;
}